@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

h2{
      font-family: 'Caveat', cursive;
      font-size: 40px;
      color: wheat;
}

.navig{
      text-align: center;
      background-color: black;
      display: block;
}

